.clearfix {
    zoom: 1;
}
.clearfix:after,
.clearfix:before,
.row:after,
.row:before {
    content: "";
    display: table;
}
.clearfix:after,
.row:after {
    clear: both;
}
.row {
    zoom: 1;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.battleBoard {
  width: 100%;
  box-sizing: border-box;
  .cell {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    .contents {
      text-align: center;
    }
  }
}
